[submodule "docs"]
	path = docs
	url = git@github.com:t-basilio/algashop-docs.git
	branch = main
[submodule "microservices/ordering"]
	path = microservices/ordering
	url = git@github.com:t-basilio/algashop-ordering.git
	branch = main
